*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.front{
  /* background-image:url('./assets/fashion.jpg'); */
  /* background-repeat:no-repeat; */
  /* background-size:cover; */
  height:25rem;
}